{% extends 'base.html' %}{% load static %}
{% block head %}<link rel="stylesheet" href="{% static 'about.css' %}">
<title>About</title>{% endblock head %}
{% block content %}
    <div class="separate"></div>
    <div class="separate"></div>
    <article>
        <section id="name">
            <p><b>Name</b> :    Mark Mbithi Mutunga</p>
            <p><b>Age</b> : 18</p>
            <p><b>Highest Level of Education</b> : Currently enrolled in a university</p>
            <p><b>School</b> : <a class="mini-link">University of Nairobi</a></p>
            <p><b>Course</b> : Bachelor of science in Actuarial Science</p>
            <p><b>Campus</b> : Chiromo Campus</p>
            <p><b>Year of admission</b> : 2022</p>
            <p><b>Year of completion</b> : 2026</p>
            <p><b class="list">Programming languages</b> : <ul>
                <li>Python</li>
                <li>JavaScript</li>
                <li>C</li>
                <li>Java</li>
                <li>HTML5</li>
                <li>CSS</li>
            </ul></p>
            <p><b class="list">Frameworks</b> : <ul>
                <li>Django</li>
                <li>Flask</li>
                <li>Node - <i>though it isn't really considered a framework</i></li>
            </ul></p>
        </section>
    </article>
    <div class="separate"></div>
    <div class="separate"></div>
{% endblock content %}