.separate {
    height: 20px;
    opacity: 100%;
}

.mini-link {
    color: black;
    text-decoration: underline;
}

.mini-link:hover {
    color: brown;
}

.mini-link:focus {
    color: chocolate;
}

