body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333333;
  scrollbar-width: 0;
}
header {
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  padding: 50px 20px;
  font-size: 2em;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
header h1 {
  font-size: 3em;
  margin: 0;
  font-family: "Arial Black", sans-serif;
}
header p {
  font-size: 1.5em;
  margin-top: 10px;
  font-family: "Arial Black", sans-serif;
}
section {
  padding: 50px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5%;
}

.about,
.projects,
.skills,
.education,
.experience,
.modal-section {
  background-color: #f8f9fa;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects li {
  background: #e9ecef;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem !important;
}
.image-container {
  flex-basis: 40%;
  order: 2;
}
.about-container-about {
  flex-basis: 55%;
}
.image-container img {
  max-width: 200px;
  border-radius: 50%;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #007bff;
  color: #ffffff;
}

footer span {
  color: #ffffff;
  display: inline-block;
  margin: 0 20px;
  font-size: 1.5rem;
}

/* Footer form */
#form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

#success-message-container {
  position: absolute;
  height: 80px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
  background-color: lightcyan;
  left: -100%;
  top: -30px;
  display: flex;
  justify-content: start;
  align-items: start;
  transition: left 0.3s ease-in-out;
  gap: 30px;
}

.success-show {
  left: 20% !important;
}

#success-message-container span {
  color: #000000;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 30px;
  height: 100%;
}

#button,
#modal-button {
  cursor: pointer;
}

#display-message {
  overflow: auto;
  max-width: 80%;
  scrollbar-width: 0;
  color: #000000;
  width: 60%;
  height: 50px;
  font-size: 1.2rem;
}

footer {
  position: relative;
}

footer form input,
footer form textarea {
  display: block;
  width: 300px;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: transparent;
}
footer form textarea {
  font-size: 1.1rem !important;
  margin-bottom: 0 !important;
}

footer form div {
  margin-bottom: 0.5rem;
}

footer form input {
  height: 40px;
}

footer form button {
  display: block;
  width: 150px;
  height: 30px;
  background-color: #ffffff;
  color: #000000;
  border: transparent;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
}

footer form button:hover {
  background-color: #000000;
  color: #ffffff;
}

footer form a {
  color: #007bff;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.toggle-button {
  background-color: transparent;
  background-color: #007bff;
  display: block;
  height: 20px;
  width: 30px;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 20%);
}
.toggle-button span {
  font-size: 1rem;
}

.hide {
  display: none;
}

/* Loader */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.lds-ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
}
.lds-ellipsis div {
  height: 1rem;
  width: 1rem;
  background: #ffffff;
  border-radius: 50%;
}
.lds-ellipsis div:nth-child(1),
.lds-ellipsis div:nth-child(3) {
  animation: bounce 0.6s infinite;
}
.lds-ellipsis div:nth-child(2),
.lds-ellipsis div:nth-child(4) {
  animation: bounce 0.6s 0.5s infinite;
}

/* For the logos */
.skills ul,
.skills li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills img:hover {
  transform: scale(1.2);
}

.skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills p {
  text-align: center;
}

.backend-python,
.skills-basics,
.frontend-frameworks {
  margin-bottom: 2rem;
}

.backend-python ul,
.skills-basics ul {
  gap: 5rem;
}

.backend-python img,
.skills-basics img {
  width: 100px;
  height: 100px;
}

.backend-js ul,
.frontend-frameworks ul {
  gap: 6rem;
}

.backend-js img,
.frontend-frameworks img {
  width: 120px;
  height: 90px;
}

/* The experience section */
.experience span {
  font-weight: 700;
}
.experience ul,
.experience li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.experience li {
  width: 90%;
  margin: 0 auto 1rem auto;
}

/* For education */
.education * {
  text-align: center;
}
.education h2 {
  text-align: start;
}

.education ul,
.education li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.education ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: row wrap;
}

.education li {
  height: 160px;
  padding: 10px;
  border-radius: 10px;
}

.education .top ul {
  gap: 2rem;
}
.education .top li {
  flex-basis: 50%;
}
.education .bottom li {
  flex-basis: 60%;
}

.education li {
  width: 40vw;
  margin: 0 auto 1rem auto;
}

.education span {
  font-weight: 700;
}

/* For the modal */
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal section {
  width: 70vw;
  height: 70vh;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-button {
  z-index: 6;
  top: 20px;
  left: 20px;
  background-color: transparent;
  position: fixed;
}

#modal-button span {
  font-size: 2rem;
  color: #ffffff;
}

/* For modal projects */
.modal-project {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.modal-project img {
  width: 300px;
  height: 450px;
  margin-right: 10px;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}

/* For project styling */
.projects ul,
.projects li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.projects > div {
  margin-bottom: 2rem;
}

.projects ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.projects li {
  flex-basis: 40%;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.projects li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000000;
  border-radius: 10px;
}
.projects li:hover {
  transform: scale(1.05);
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  header {
    font-size: 1.5em;
    padding: 30px 20px;
  }
  header h1 {
    font-size: 2.5em;
  }
  header p {
    font-size: 1.2em;
  }
  section {
    padding: 30px 20px;
  }
  .about,
  .projects {
    padding: 15px;
  }
  .projects li {
    padding: 8px;
  }
  .image-container img {
    max-width: 100px;
  }
  #success-message-container {
    height: 80px;
    width: 300px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 2em;
  }
  header p {
    font-size: 1em;
  }
  .projects li {
    font-size: 0.9em;
  }
  .about-container {
    display: block;
  }
  .image-container {
    display: flex;
    justify-content: center;
  }
  .image-container img {
    max-width: 150px;
    margin: 0 auto;
  }
  footer span {
    color: #ffffff;
    display: inline-block;
    margin: 0 20px;
    font-size: 1rem;
  }
  #success-message-container {
    height: 80px;
    width: 250px;
    top: -50px;
  }
  .skills ul {
    flex-direction: column;
    gap: 1rem;
  }
  .skills img {
    width: 100px;
    height: 100px;
  }

  .backend-python,
  .skills-basics,
  .frontend-frameworks {
    margin-bottom: 0rem;
  }
  .education ul {
    display: block;
  }
  .education li {
    width: 100%;
    margin: 0;
  }

  .modal section {
    overflow-y: scroll;
    width: 80vw;
  }
  .modal-project {
    display: block;
  }
  .modal-project img {
    height: 500px;
  }
  .modal-project img {
    margin-right: 0;
  }
  .modal p {
    text-align: center;
  }
  .projects ul {
    display: block;
  }
  .projects > div {
    margin-bottom: 1rem;
  }
  .projects li {
    margin-bottom: 1rem;
  }
  .modal section {
    display: block;
  }
}
