<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">{% block head %}{% endblock head %}
</head>
<body>
    <header>
        <h1 id="welcome">Opaque-Maniac</a></h1>
        <nav id="main-nav">
            <ul>
                <li id="home"><a href="{% url 'index' %}">Home</a></li>
                <li id="about"><a href="{% url 'about' %}">About</a></li>
                <li id="projects"><a href="{% url 'projects' %}">Projects</a></li>
                <li id="gallery"><a href="{% url 'gallery' %}">Gallery</a></li>
            </ul>
        </nav>
    </header>
    <div id="main">{% block content %}{% endblock content %}</div>
    <footer>
        <h1 id="last-message">Contact me:</h1>
        <hr>
        <nav id="bottom-nav">
            <ul id="bottom-ul">
                <li class="footer-item" id="facebook"><a href="https://www.facebook.com/jack.linel.9" target="_blank">Facebook</a></li>
                <li class="footer-item" id="instagram"><a href="https://www.instagram.com/mbithi.mark/" target="_blank">Instagram</a></li>
                <li class="footer-item" id="twitter"><a href="https://twitter.com/MarkMbithi4" target="_blank">Twitter</a></li>
                <li class="footer-item" id="github"><a href="https://github.com/opaque-maniac" target="_blank">GitHub</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>